<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam distinctio iure corrupti error magni ad a, quia officia eligendi aperiam amet. Deleniti doloribus aperiam quo excepturi commodi dicta, quae voluptates.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam distinctio iure corrupti error magni ad a, quia officia eligendi aperiam amet. Deleniti doloribus aperiam quo excepturi commodi dicta, quae voluptates.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam distinctio iure corrupti error magni ad a, quia officia eligendi aperiam amet. Deleniti doloribus aperiam quo excepturi commodi dicta, quae voluptates.</p>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>